extends layout

block content
    h1 #{title}
    form(method='POST', action='/artykul/dodaj')
        #form-group
            label Title:
            input.form-control(name='tytul', type='text')
        #form-group
            label Author:
            input.form-control(name='autor', type='text')
        #form-group
            label Body:
            textarea.form-control(name='cialo', type='text')
        input.btn.btn-primary(type='submit', value='Submit')
